---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=81cd0f90fa4ac7&q=NEW%20YORK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"235383870","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"175905","boundingbox":["40.477399","40.9161785","-74.25909","-73.7001809"],"lat":"40.7127281","lon":"-74.0060152","display_name":"New
        York, New York, 10007, USA","class":"place","type":"city","importance":1.0175766114518,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_place_city.p.20.png"},{"place_id":"236017169","licence":"https:\/\/locationiq.com\/attribution","osm_type":"relation","osm_id":"61320","boundingbox":["40.477399","45.0158611","-79.761944","-71.7955694"],"lat":"43.1561681","lon":"-75.8449946","display_name":"New
        York, USA","class":"boundary","type":"administrative","importance":0.96558464090896,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_boundary_administrative.p[...]
