---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=81cd0f90fa4ac7&q=checkpoint%20charlie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"3796969","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"417346627","boundingbox":["52.5074575","52.5075575","13.3903237","13.3904237"],"lat":"52.5075075","lon":"13.3903737","display_name":"Checkpoint
        Charlie, 43-45, Friedrichstra\u00dfe, Mitte, Berlin, 10117, Germany","class":"tourism","type":"attraction","importance":0.64986236905806,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/poi_point_of_interest.p.20.png"},{"place_id":"192668336","licence":"https:\/\/locationiq.com\/attribution","osm_type":"way","osm_id":"480255325","boundingbox":["51.0796107","51.0798648","13.7596023","13.7604778"],"lat":"51.079778","lon":"13.7598759","display_name":"Checkpoint
        Charlie, Zeitenstr\u00f6mung, Albertstadt, Neustadt, Dresden, Saxony, 01099,
        Germany","class":"highway","type":"service","importance":0.275},{"place_id":"[...]
